<nav-lateral [titulopagina]="titulonomepagina" [titulomodulo]="titulonomemodulo"></nav-lateral>
<div *ngIf="!listaEvento; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<ng-template #elseBlock></ng-template>
<div class="row-container-panel">
  <div class="column-container-panel column-container-panel-1">
    <form [formGroup]="myForm" (ngSubmit)="save()">
      <!-- <mat-select>
        <mat-option>
          Evento Fixo
        </mat-option>
      </mat-select> -->
      <mat-form-field class="example-mid-width">
        <input matInput placeholder="Tipo Evento" formControlName="tipoevento">
      </mat-form-field>
      <mat-form-field class="example-mid-width">
        <input matInput placeholder="Descrição do Evento" formControlName="descricaoevento">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Salvar</button>
    </form>
  </div>
  <div class="column-container-panel column-container-panel-1">
    <table>
      <tr>
        <th>Id</th>
        <th>Descrição</th>
        <th>Tipo</th>
      </tr>
      <tr *ngFor="let evento of listaEvento">
        <td>{{evento.idevento}}</td>
        <td>{{evento.descricaoevento}}</td>
        <td>{{evento.tipoevento}}</td>
        <td>
          <button mat-button color="warn" (click)="delete(evento)" class="btn-excluir">Excluir</button>
        </td>
        <td>
          <button mat-button color="warn" (click)="select(evento)" class="btn-excluir">Alterar</button>
        </td>
      </tr>
    </table>
  </div>
</div>