<nav-lateral [titulopagina]="titulonomepagina" [titulomodulo]="titulonomemodulo"></nav-lateral>
<div *ngIf="!lista; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<ng-template #elseBlock></ng-template>
<div class="row-container-panel">
  <div class="column-container-panel column-container-panel-1">
    <form [formGroup]="myForm" (ngSubmit)="relatorioFichaFuncional()">
      <mat-form-field class="example-full-width">
        <mat-label>Selecionar Funcionário</mat-label>
        <mat-select formControlName="idfuncionario">
          <mat-option *ngFor="let funcionario of lista" [value]="funcionario.idfuncionario">
            {{funcionario.idfuncionario}} || {{funcionario.nomefuncionario}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Gerar</button>
    </form>
  </div>
</div>