<nav-lateral [titulopagina]="titulonomepagina" [titulomodulo]="titulonomemodulo"></nav-lateral>
<div *ngIf="!lista; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<ng-template #elseBlock></ng-template>
<div class="colPanel">
  <div class="row-container-panel">
    <div class="column-container-panel column-container-panel-1">
      <form [formGroup]="myForm" (ngSubmit)="save()">
        <div class="grid-container">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Início Manhã" formControlName="inimanha">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Fim Manhã" formControlName="fimmanha">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Início Tarde" formControlName="initarde">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Fim Tarde" formControlName="fimtarde">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Descrição" formControlName="descricaohorario">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Hora mensal" formControlName="horasmensal">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Salvar</button>

        </div>
      </form>
    </div>
    <div class="column-container-panel column-container-panel-1">
      <table>
        <tr>
          <th>id</th>
          <th>Início Manhã</th>
          <th>Fim Manhã</th>
          <th>Início Tarde</th>
          <th>Fim Tarde</th>
          <th>Descrição</th>
          <th>Hora mensal</th>
        </tr>
        <tr *ngFor="let jornada of lista">
          <td>{{jornada.idhorario}}</td>
          <td>{{jornada.inimanha}}</td>
          <td>{{jornada.fimmanha }}</td>
          <td>{{jornada.initarde }}</td>
          <td>{{jornada.fimtarde }}</td>
          <td>{{jornada.descricaohorario }}</td>
          <td>{{jornada.horasmensal }}</td>
          <td>
            <button mat-button color="warn" (click)="delete(jornada)">Excluir</button>
          </td>
          <td>
            <button mat-button color="warn" (click)="select(jornada)">Alterar</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>