<nav-lateral></nav-lateral>
<dashboard-principal></dashboard-principal>
<!-- <br>
<a href="cadastro-curriculo"><button mat-raised-button color="primary">Cadastro de Currículos</button></a>
<br>
<br>
<a href="funcionarios"><button mat-raised-button color="primary">Ficha Funcional</button></a>
<br>
<br>
<button mat-raised-button color="primary">Falta editar</button> -->