<nav-lateral [titulopagina]="titulonomepagina" [titulomodulo]="titulonomemodulo"></nav-lateral>
<div *ngIf="!lista && !listafuncionario; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<ng-template #elseBlock></ng-template>
<div class="row-container-panel">
    <div *ngFor="let lista of alerta" class="erro_api">
        {{lista}}
    </div>
    <div class="column-container-panel column-container-panel-1">
        <form [formGroup]="myForm" (ngSubmit)="save()">
            <div class="grid-container">
                <mat-form-field class="example-full-width">
                    <mat-label>Funcionário</mat-label>
                    <mat-select formControlName="idfuncionario">
                        <mat-option *ngFor="let funcionario of listafuncionario" [value]="funcionario">
                            {{funcionario.idfuncionario}} | {{funcionario.nomefuncionario}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-mid-width">
                    <input matInput placeholder="Mês" formControlName="mes">
                    <!-- <mat-label>Mês</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let mes of meses" [value]="mes.mes">
                            {{mes.nome}}
                        </mat-option>
                    </mat-select> -->
                </mat-form-field>
                <mat-form-field class="example-mid-width">
                    <input matInput placeholder="Ano" formControlName="ano" minlength="4">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Horas Trabalhadas" formControlName="horastrabalhadas">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Tipo de Hora Extra" formControlName="tipohoraextra">
                </mat-form-field>
                <mat-form-field class="example-mid-width">
                    <input matInput placeholder="Dias Úteis" formControlName="diasuteis">
                </mat-form-field>
                <mat-form-field class="example-mid-width">
                    <input matInput placeholder="Dias Não-Úteis" formControlName="diasnaouteis">
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Salvar</button>
            </div>
        </form>
    </div>
    <div class="column-container-panel column-container-panel-1">
        <table>
            <tr>
                <th>Id Funcionário</th>
                <th>Mês</th>
                <th>Ano</th>
                <th>Horas</th>
                <th>Tipo Hora Extra</th>
                <th>Dias Úteis</th>
                <th>Dias Não Úteis</th>
            </tr>
            <tr *ngFor="let horariofuncionario of lista">
                <td>{{horariofuncionario.idfuncionario.nomefuncionario}}</td>
                <td>{{horariofuncionario.mes}}</td>
                <td>{{horariofuncionario.ano}}</td>
                <td>{{horariofuncionario.horastrabalhadas}}</td>
                <td>{{horariofuncionario.tipohoraextra}}</td>
                <td>{{horariofuncionario.diasuteis}}</td>
                <td>{{horariofuncionario.diasnaouteis}}</td>
                <td>
                    <button mat-button color="warn" (click)="delete(horariofuncionario)"
                        class="btn-excluir">Excluir</button>

                </td>
                <td>
                    <button mat-button color="warn" (click)="select(horariofuncionario)"
                        class="btn-excluir">Alterar</button>

                </td>
            </tr>
        </table>
    </div>
</div>