<nav-lateral [titulopagina]="titulonomepagina" [titulomodulo]="titulonomemodulo"></nav-lateral>
<div class="colPanel">
  <div *ngIf="!listagenero && !listaestadocivil; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>
  <ng-template #elseBlock></ng-template>
  <div class="row-container-panel">
    <div *ngFor="let lista of alerta" class="erro_api">
      {{lista}}
    </div>
    <div class="column-container-panel column-container-panel-1">
      <form [formGroup]="myForm" (ngSubmit)="save()">
        <div class="grid-container">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nome completo" formControlName="nomepessoa">
          </mat-form-field>
          <mat-form-field class="example-mid-width">
            <input matInput placeholder="Data Nascimento" formControlName="datanascimento">
          </mat-form-field>
          <mat-form-field class="example-mid-width">
            <input matInput placeholder="Telefone" formControlName="contatopessoa">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="emailpessoa">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="CPF" formControlName="cpfpessoa">
          </mat-form-field>
          <mat-form-field class="example-mid-width">
            <mat-label>Selecione o Gênero</mat-label>
            <mat-select formControlName="idgenero" [compareWith]="compareGeneros">
              <mat-option *ngFor="let sexo of listagenero" [value]="sexo">
                {{sexo.descricaogenero}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-mid-width">
            <mat-label>Selecione o Estado Civil</mat-label>
            <mat-select formControlName="idestadocivil" [compareWith]="compareEstadoCivil">
              <mat-option *ngFor="let listaestadocivil of listaestadocivil" [value]="listaestadocivil">
                {{listaestadocivil.descricaoestadocivil}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit">Salvar</button>
          <button mat-button color="warn" type="reset">Limpar</button>
        </div>
      </form>
    </div>
    <div class="column-container-panel column-container-panel-1">
      <table>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Email</th>
        </tr>
        <tr *ngFor="let pessoa of lista">
          <td>{{pessoa.idpessoa}}</td>
          <td>{{pessoa.nomepessoa}}</td>
          <td>{{pessoa.cpfpessoa}}</td>
          <td>{{pessoa.emailpessoa}}</td>
          <td>
            <button mat-button color="warn" (click)="delete(pessoa)">Excluir</button>
            <button mat-button color="warn" (click)="select(pessoa)">Selecionar</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>