<nav-lateral [titulopagina]="titulonomepagina" [titulomodulo]="titulonomemodulo"></nav-lateral>
<div *ngIf="!listapessoa && !listacargos && !listasetor; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<ng-template #elseBlock></ng-template>
<div class="row-container-panel">
  <div *ngFor="let lista of alerta" class="erro_api">
    {{lista}}
  </div>
  <form [formGroup]="myForm" (ngSubmit)="save()">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="myForm">
        <ng-template matStepLabel>Contratação</ng-template>
        <mat-form-field class="example-mid-width">
          <mat-label>Selecionar Pessoa</mat-label>
          <mat-select formControlName="idpessoa" (ngModelChange)="selecionaPessoa()">
            <mat-option *ngFor="let pessoa of listapessoa" [value]="pessoa">
              {{pessoa.idpessoa}} | {{pessoa.nomepessoa}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Nome Completo" type="text" formControlName="nomefuncionario"
            [(ngModel)]="nomefuncionario">
        </mat-form-field>

        <mat-form-field class="example-mid-width">
          <mat-label>Cargo</mat-label>
          <mat-select formControlName="idcargo" (ngModelChange)="selecionaCargo()">
            <mat-option *ngFor="let cargo of listacargos" [value]="cargo">
              {{cargo.descricaocargo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <mat-label>Setor</mat-label>
          <mat-select formControlName="idsetor" (ngModelChange)="selecionaSetor()">
            <mat-option *ngFor="let setor of listasetor" [value]="setor">
              {{setor.descricaosetor}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <mat-label>Horario</mat-label>
          <mat-select formControlName="idhorario" (ngModelChange)="selecionaHorario()">
            <mat-option *ngFor="let horario of listahorario" [value]="horario">
              {{horario.descricaohorario}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <!--<button mat-button matStepperNext>Avançar</button>-->

        </div>
      </mat-step>
      <mat-step [stepControl]="myForm">
        <ng-template matStepLabel>Documentos</ng-template>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Nome do Pai" formControlName="nomepaifuncionario"
            [(ngModel)]="nomepaifuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Nome da Mãe" formControlName="nomemaefuncionario"
            [(ngModel)]="nomemaefuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="CPF" formControlName="cpffuncionario" [(ngModel)]="cpffuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="RG" formControlName="rgfuncionario" [(ngModel)]="rgfuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Data de expedição RG" type="date" formControlName="expedicaorgfuncionario"
            [(ngModel)]="expedicaorgfuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Orgão de expedição RG" formControlName="orgaorgfuncionario"
            [(ngModel)]="orgaofuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="UF de expedição RG" formControlName="ufrgfuncionario"
            [(ngModel)]="ufrgfuncionario">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <!--<button mat-button matStepperNext>Avançar</button>-->
        </div>
      </mat-step>
      <mat-step [stepControl]="myForm">
        <ng-template matStepLabel>Contato</ng-template>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Logradouro" formControlName="logradourofuncionario"
            [(ngModel)]="logradourofuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Bairro" formControlName="enderecofuncionario"
            [(ngModel)]="enderecofuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Complemento endereço" formControlName="complementoendereco"
            [(ngModel)]="complementoendereco">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Email" formControlName="emailfuncionario" [(ngModel)]="emailfuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Telefone" formControlName="telefonefuncionario"
            [(ngModel)]="telefonefuncionario">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <!--<button mat-button matStepperNext>Avançar</button>-->
        </div>
      </mat-step>
      <mat-step [stepControl]="myForm">
        <ng-template matStepLabel>Trabalho</ng-template>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="CTPS" formControlName="ctpsfuncionario" [(ngModel)]="ctpsfuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="CTPS Série" formControlName="ctpsseriefuncionario"
            [(ngModel)]="ctpsseriefuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="CTPS Expedição" formControlName="ctpsexpedicaofuncionario"
            [(ngModel)]="ctpsexpedicaofuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="PIS" formControlName="pisfuncionario" [(ngModel)]="pisfuncionario">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <!--<button mat-button matStepperNext>Avançar</button>-->
        </div>
      </mat-step>
      <mat-step [stepControl]="myForm">
        <ng-template matStepLabel>Habilitação</ng-template>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="CNH" formControlName="cnhfuncionario" [(ngModel)]="cnhfuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="CNH Expedição" formControlName="cnhexpedicaofuncionario"
            [(ngModel)]="cnhexpedicaofuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="CNH Categoria" formControlName="cnhcategoriafuncionario"
            [(ngModel)]="cnhcategoriafuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="CNH Vencimento" formControlName="cnhvencimentofuncionario"
            [(ngModel)]="cnhvencimentofuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="CNH Habilitação" formControlName="cnh1habilitacaofuncionario"
            [(ngModel)]="cnh1habilitacaofuncionario">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <!--<button mat-button matStepperNext>Avançar</button>-->
        </div>
      </mat-step>
      <mat-step [stepControl]="myForm">
        <ng-template matStepLabel>Pagamento</ng-template>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Salário" formControlName="salariofuncionario" [(ngModel)]="salariofuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Cód. Banco" formControlName="codbancofuncionario"
            [(ngModel)]="codbancofuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Número da Conta" formControlName="numcontabancofuncionario"
            [(ngModel)]="numcontabancofuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Agência" formControlName="agenciabancofuncionario"
            [(ngModel)]="agenciabancofuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Conta FGTS" formControlName="contafgtsfuncionario"
            [(ngModel)]="contafgtsfuncionario">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Data de Admissão" type="date" formControlName="dataadmissaofuncionario"
            [(ngModel)]="dataadmissaofuncionario">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <!--<button mat-button matStepperNext>Avançar</button>-->
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Pronto</ng-template>
        <!-- <table>

          <body>
            <tr>
              <td><b>Pessoa:</b></td>
              <td>{{pessoa}}</td>
            </tr>
            <tr>
              <td><b>Cargo</b>:</td>
              <td>{{cargo}}</td>
            </tr>
            <tr>
              <td><b>Setor</b>:</td>
              <td>{{setor}}</td>
            </tr>
            <tr>
              <td><b>Horário</b>:</td>
              <td>{{horario}}</td>
            </tr>
            <tr>
              <td><b>Nome do Pai</b>:</td>
              <td>{{nomepaifuncionario}}</td>
            </tr>
            <tr>
              <td><b>Nome da Mãe</b>:</td>
              <td>{{nomemaefuncionario}}</td>
            </tr>
            <tr>
              <td><b>CPF</b>:</td>
              <td>{{cpffuncionario}}</td>
            </tr>
            <tr>
              <td><b>RG</b>:</td>
              <td>{{rgfuncionario}} <b>Expedição</b>: {{expedicaorgfuncionario}} <b>Órgão</b>: {{orgaofuncionario}}
                <b>UF</b>:
                {{ufrgfuncionario}}</td>
            </tr>
            <tr>
              <td><b>Logradouro</b>:</td>
              <td>{{logradourofuncionario}}</td>
            </tr>
            <tr>
              <td><b>Endereço</b>:</td>
              <td>{{enderecofuncionario}}</td>
            </tr>
            <tr>
              <td><b>Complemento</b>:</td>
              <td>{{complementoendereco}}</td>
            </tr>
            <tr>
              <td><b>Email</b>:</td>
              <td>{{emailfuncionario}}</td>
            </tr>
            <tr>
              <td><b>Telefone</b>:</td>
              <td>{{telefonefuncionario}}</td>
            </tr>
            <tr>
              <td><b>CTPS</b>:</td>
              <td>{{ctpsfuncionario}}</td>
            </tr>
            <tr>
              <td><b>CTPS Série</b>:</td>
              <td>{{ctpsseriefuncionario}}</td>
            </tr>
            <tr>
              <td><b>CTPS Expedição</b>:</td>
              <td>{{ctpsexpedicaofuncionario}}</td>
            </tr>
            <tr>
              <td><b>PIS</b>:</td>
              <td>{{pisfuncionario}}</td>
            </tr>
            <tr>
              <td><b>CNH</b>:</td>
              <td>{{cnhfuncionario}}</td>
            </tr>
            <tr>
              <td><b>CNH Expedição</b>:</td>
              <td>{{cnhexpedicaofuncionario}}</td>
            </tr>
            <tr>
              <td><b>CNH Categoria</b>:</td>
              <td>{{cnhcategoriafuncionario}}</td>
            </tr>
            <tr>
              <td><b>CNH Vencimento</b>:</td>
              <td>{{cnhvencimentofuncionario}}</td>
            </tr>
            <tr>
              <td><b>CNH 1º Habilitação</b>:</td>
              <td>{{cnh1habilitacaofuncionario}}</td>
            </tr>
            <tr>
              <td><b>Salário</b>:</td>
              <td>{{salariofuncionario}}</td>
            </tr>
            <tr>
              <td><b>Cód. Banco</b>:</td>
              <td>{{codbancofuncionario}}</td>
            </tr>
            <tr>
              <td><b>Conta</b>:</td>
              <td>{{numcontabancofuncionario}}</td>
            </tr>
            <tr>
              <td><b>Agência</b>:</td>
              <td>{{salariofuncionario}}</td>
            </tr>
            <tr>
              <td><b>Data Admissão</b>:</td>
              <td>{{dataadmissaofuncionario}}</td>
            </tr>
            <tr>
              <td><b>Conta FGTS</b>:</td>
              <td>{{contafgtsfuncionario}}</td>
            </tr>
          </body>
        </table>-->
        <div>
          <button mat-raised-button color="primary" type="submit">Salvar</button>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button (click)="stepper.reset()">Limpar tudo</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
  <button mat-stroked-button (click)="openDialog()">Pessoas</button>
</div>