<div *ngIf="!lista; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-template>
<ng-template #elseBlock>
  <div class="row-container-panel">
    <div class="column-container-panel" style="max-height: 90vh">
      <table>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>CPF</th>
        </tr>
        <tr *ngFor="let pessoa of lista">
          <td>{{pessoa.idpessoa}}</td>
          <td>{{pessoa.nomepessoa}}</td>
          <td>{{pessoa.cpfpessoa}}</td>
        </tr>
      </table>
    </div>
  </div>
</ng-template>