<nav-lateral [titulopagina]="titulonomepagina" [titulomodulo]="titulonomemodulo"></nav-lateral>
<div class="colPanel">
    <div *ngIf="!listasetores && !listacargos; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>
    <ng-template #elseBlock></ng-template>
    <div class="row-container-panel">
        <div *ngFor="let lista of alerta" class="erro_api">
            {{lista}}
        </div>
        <div class="column-container-panel column-container-panel-1">
            <form [formGroup]="myForm" (ngSubmit)="save()">
                <div class="grid-container">
                    <mat-form-field class="example-full-width">
                        <mat-label>Selecione o tipo</mat-label>
                        <mat-select formControlName="idtipovaga">
                            <mat-option *ngFor="let tipovaga of listatipovaga" [value]="tipovaga">
                                {{tipovaga.descricaotipovaga}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Descrição da Vaga" value="" formControlName="descricaovaga">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Atribuições Vaga" value="" formControlName="atribuicoesvaga">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width">
                        <mat-label>Selecione o Setor/Depto</mat-label>
                        <mat-select formControlName="idsetor">
                            <mat-option *ngFor="let listasetor of listasetores" [value]="listasetor">
                                {{listasetor.descricaosetor}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width">
                        <mat-label>Selecione o Cargo</mat-label>
                        <mat-select formControlName="idcargo">
                            <mat-option *ngFor="let listacargo of listacargos" [value]="listacargo">
                                {{listacargo.descricaocargo}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <button mat-raised-button color="primary" type="submit">Salvar</button>
                    <button mat-button color="primary" type="reset">Limpar</button>
                </div>
            </form>
        </div>
        <div class="column-container-panel column-container-panel-1">
            <table>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Setor</th>
                    <th>Cargo</th>
                    <!--<th>Escolaridade</th>-->
                </tr>
                <tr *ngFor="let vagas of lista">
                    <td>{{vagas.idvaga}}</td>
                    <td>{{vagas.descricaovaga}}</td>
                    <td>{{vagas.idsetor.descricaosetor}}</td>
                    <td>{{vagas.idcargo.descricaocargo}}</td>
                    <td>
                        <button mat-button color="warn" (click)="delete(vagas)">Excluir</button>
                    </td>
                    <td>
                        <button mat-button color="warn" (click)="select(vagas)">Alterar</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>