<nav-lateral [titulopagina]="titulonomepagina" [titulomodulo]="titulonomemodulo"></nav-lateral>
<div *ngIf="!listafuncionario; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<ng-template #elseBlock></ng-template>
<div class="row-container-panel">
  <div class="column-container-panel column-container-panel-1">
    <form [formGroup]="myForm" (ngSubmit)="save()">
      <div class="grid-container">
        <mat-form-field class="example-full-width">
          <mat-label>Funcionário</mat-label>
          <mat-select formControlName="idfuncionario">
            <mat-option *ngFor="let funcionario of listafuncionario" [value]="funcionario">
              {{funcionario.idfuncionario}} | {{funcionario.nomefuncionario}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Evento</mat-label>
          <mat-select formControlName="idevento">
            <mat-option *ngFor="let eventofuncionario of listaEvento" [value]="eventofuncionario">
              {{eventofuncionario.descricaoevento}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Referência" formControlName="referencia">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Valor" formControlName="valor">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Salvar</button>
      </div>
    </form>
  </div>
  <div class="column-container-panel column-container-panel-1">
    <table>
      <tr>
        <th>Id</th>
        <th>Referência</th>
        <th>Valor</th>
        <th>Funcionário</th>
        <th>Evento</th>
      </tr>
      <tr *ngFor="let eventofuncionario of listaLanc">
        <td>{{eventofuncionario.idfuncionario.idfuncionario}}</td>
        <td>{{eventofuncionario.referencia}}</td>
        <td>{{eventofuncionario.valor}}</td>
        <td>{{eventofuncionario.idfuncionario.nomefuncionario}}</td>
        <td>{{eventofuncionario.idevento.descricaoevento}}</td>
        <td>
          <button mat-button color="warn" (click)="delete(eventofuncionario)" class="btn-excluir">Excluir</button>
        </td>
        <td>
          <button mat-button color="warn" (click)="select(eventofuncionario)" class="btn-excluir">Alterar</button>
        </td>
      </tr>
    </table>
  </div>
</div>