<nav-lateral [titulopagina]="titulonomepagina" [titulomodulo]="titulonomemodulo"></nav-lateral>
<div *ngIf="!listafuncionario; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<ng-template #elseBlock></ng-template>
<div class="row-container-panel">
  <div *ngFor="let lista of alerta" class="erro_api">
    {{lista}}
  </div>
  <div class="column-container-panel column-container-panel-1">
    <form [formGroup]="myForm" (ngSubmit)="save()">
      <div class="grid-container">
        <mat-form-field class="example-mid-width">
          <mat-label>Funcionário</mat-label>
          <mat-select formControlName="idfuncionario">
            <mat-option *ngFor="let funcionario of listafuncionario" [value]="funcionario" >
              {{funcionario.idfuncionario}} | {{funcionario.nomefuncionario}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-form-field class="example-mid-width">
          <input matInput placeholder="Tipo do Dependente" formControlName="tipodependente">
        </mat-form-field> -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nome do Dependente" formControlName="nomedependente">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="CPF Dependente" formControlName="cpfdependente">
        </mat-form-field>
      

        <mat-form-field>
          <input formControlName="datanascimentodependente" matInput [matDatepicker]="picker" placeholder="Data de Nascimento">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <div class="example-mid-width" style="display: inline-block; position: relative; text-align: left;">
          <mat-slide-toggle matInput formControlName="depir" [color]="blue">Declarar no imposto de Renda
          </mat-slide-toggle>
        </div>
        <button mat-raised-button color="primary" type="submit">Salvar</button>
      </div>
    </form>
  </div>
  <div class="column-container-panel column-container-panel-1">
    <table>
      <tr>
        <th>Id Funcionário</th>
        <th>Id Dependente</th>
        <th>Nome Dependente</th>
        <th>CPF Dependente</th>
        <th>Data Nascimento</th>
      </tr>
      <tr *ngFor="let dependente of lista">
        <td>{{dependente.idfuncionario.idfuncionario}}</td>
        <td>{{dependente.iddependente}}</td>
        <td>{{dependente.nomedependente}}</td>
        <td>{{dependente.cpfdependente}}</td>
        <td>{{dependente.datanascimentodependente | date:'dd/MM/yyyy'}}</td>
        <td>
          <button mat-button color="warn" (click)="delete(dependente)" class="btn-excluir">Excluir</button>
        </td>
        <td>
          <button mat-button color="warn" (click)="select(dependente)" class="btn-excluir">Alterar</button>
        </td>
      </tr>
    </table>
  </div>
</div>