/* You can add global styles to this file, and also import other style files */

/*background-image: url("assets/300x300.png");
  background-repeat: no-repeat;
  background-position: middle;
  background-position: top;*/

body { margin: 0px;
}
.colPanel{
    width:100%;
    margin: 0 auto;
    
  }

.grid-container {
    margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-mid-width {
  width: 48%;
  margin: 1%;
}
.upload-drop-zone{
  border: 3px dashed #ccc;
  padding: 15px;
}
.mat-grid-list{
  height: fit-content;
}
.mat-toolbar.mat-primary{
  background: #1b1b1b;
}
.row-container-panel{
  max-width: 1200px;
  margin: 0 auto;
}
.row-container-panel, 
.column-container-panel {
    box-sizing: border-box;
}

.row-container-panel:before,
.row-container-panel:after {
    content: " ";
    display: table;
}

.row-container-panel:after {
    clear: both;
}

.column-container-panel {
    position: relative;
    float: left;
}

.column-container-panel + .column-container-panel {
    margin-left: 1%;
}

.column-container-panel-1 {
    width: 48%;
}
table{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: 300;
  width:100%;
}
/* th{
  font-size: 0.9em;
  font-weight: 300;
  color:#8c8c8c;
  text-align: left;
} */
th{
  font-size: 0.7em;
    font-weight: bold;
    color: #353535;
    text-align: left;
}
tr {
  padding-bottom: 2px;
  box-shadow: 0 1px rgb(199, 199, 199);
}
tr:first-child{
  box-shadow: none !important;
}
td{
  font-size: 0.9rem;
  padding-bottom: 7px;
  padding-top: 7px;
}
.mat-raised-button{
  zoom: 0.9;
}
.erro_api{
  font-family: sans-serif;
    font-size: 0.8em;
    /* background: #d83d3d; */
    padding: 5px;
    color: #f44336;
    margin: 4px;
    /* border-radius: 8px; */
    text-align: center;
    animation-name: erroApi;
  animation-duration: 4s;
  font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
}
@keyframes erroApi {
  from {opacity:0}
  to {opacity:1}
}
@media only screen and (max-width: 960px){
  .colPanel{
    width:100%;
    margin-left:0px;
    padding-left: 0px;
  }
}