<nav-lateral [titulopagina]="titulonomepagina" [titulomodulo]="titulonomemodulo"></nav-lateral>
<div *ngIf="!listairrf; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<ng-template #elseBlock></ng-template>
<div class="row-container-panel">
  <div class="column-container-panel column-container-panel-1">
    <form [formGroup]="myForm" (ngSubmit)="save()">
      <div class="grid-container">
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Valor Inicial" formControlName="valorinicial">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Valor Final" formControlName="valorfinal">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Aliquota" formControlName="aliquota">
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Dedução Mínima" formControlName="deducaominima">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="validade" matInput [matDatepicker]="picker" placeholder="Escolha a data de validade">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-mid-width">
          <input matInput placeholder="Dedução Dependente" formControlName="deducaodependente">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Salvar</button>
      </div>
    </form>
  </div>
  <div class="column-container-panel column-container-panel-1">
    <table>
      <tr>
        <th>Id</th>
        <th>Valor Inicial</th>
        <th>Valor Final</th>
        <th>Aliquota</th>
        <th>Validade</th>
        <th>Dedução Min.</th>
        <th>Dedução Dep.</th>
      </tr>
      <tr *ngFor="let irrf of listairrf">
        <td>{{irrf.idirrf}}</td>
        <td>{{irrf.valorinicial}}</td>
        <td>{{irrf.valorfinal}}</td>
        <td>{{irrf.aliquota}}</td>
        <td>{{irrf.validade | date:'dd/MM/yyyy HH:mm'}}</td>
        <td>{{irrf.deducaominima}}</td>
        <td>{{irrf.deducaodependente}}</td>
        <td>
          <button mat-button color="warn" (click)="delete(irrf)" class="btn-excluir">Excluir</button>
        </td>
        <td>
          <button mat-button color="warn" (click)="select(irrf)" class="btn-excluir">Alterar</button>
        </td>
      </tr>
    </table>
  </div>
</div>