<nav-lateral [titulopagina]="titulonomepagina" [titulomodulo]="titulonomemodulo"></nav-lateral>

<div class="row-container-panel">
  <div *ngFor="let lista of alerta" class="erro_api">
    {{lista}}
  </div>
  <div class="column-container-panel column-container-panel-1">
    <form [formGroup]="myForm" (ngSubmit)="save()">
      <div class="grid-container">
        <mat-form-field class="example-full-width">
          <mat-label>Selecione a Pessoa</mat-label>
          <mat-select formControlName="idpessoa">
            <mat-option *ngFor="let listapessoas of listapessoas" [value]="listapessoas">
              {{listapessoas.nomepessoa}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Vaga</mat-label>
          <mat-select formControlName="idvaga">
            <mat-option *ngFor="let listavagas of listavagas" [value]="listavagas">
              {{listavagas.descricaovaga}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Experiencias" formControlName="experienciascurriculo">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Habilidades" formControlName="habilidadescurriculo">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Salvar</button>
        <button mat-button color="primary" type="reset">Limpar</button>
      </div>
    </form>
  </div>
  <div class="column-container-panel column-container-panel-1">
    <table>
      <tr>
        <th>Id</th>
        <th>Nome Pessoa</th>
      </tr>
      <tr *ngFor="let curriculo of lista">
        <td>{{curriculo.idcurriculo}}</td>
        <td>{{curriculo.idpessoa.nomepessoa}}</td>

        <td>
          <button mat-button color="warn" (click)="delete(curriculo)">Excluir</button>
        </td>
      </tr>
    </table>
  </div>
</div>